body {
    background-color: #EDEDED;
    margin: 0px;
}

a {
    text-decoration: none;
    color: #000000
}

h1, h2 {
    display: inline-block;
}

h4 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#titleBar {
    margin-left: 50px;
    display: inline-block;
}

/* Move (for admin portal table) */
.admin_portal_table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

.admin_portal_table td, .admin_portal_table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.admin_portal_table tr:nth-child(even){background-color: #f2f2f2;}

.admin_portal_table tr:hover {background-color: #ddd;}

.admin_portal_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #2fb5ba;
  color: white;
}
/* end of comment section */

#uploadBoxWrapper {
}

#uploadBox {
    height: 450px;
    width: 250px;
    background-color: #FFFFFF;
    border-radius: 8px;
    /* border: black 1px solid; */
    -webkit-box-shadow: 4px 4px 4px 4px #DEDEDE;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    4px 4px 4px 4px #DEDEDE;  /* Firefox 3.5 - 3.6 */
    box-shadow:         4px 4px 4px 4px #DEDEDE;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    margin-top: 50px;
    padding: 20px;
}


#custom-button {
  height: 100px;
  font-size: 12pt;
}

#custom-button:hover, #submitButton:hover {
  background-color: gray;
}

#custom-text {
  margin-left: 10px;
  font-family: sans-serif;
  color: #aaa;
}

#formDetails {
    width: 100%;
    margin-top: 20px;
}

#submitButton {
    font-size: 10pt;
    height: 50px;
}

#submitButton, #custom-button {
    width: 100%;
    color: black;
    background-color: #FFFFFF;
    border: 1px solid #000;
    border-radius: 15px;
    cursor: pointer;
}

.inputBox {
    width: 97%;
}

#messageInputBox {
    align-items: stretch;
    height: 100px;
    max-height: 200px;
}

#navBar {
    width: 100%;
    height: 75px;
    background-color: #bababa;
}

#loginLogout {
    float: right;
    margin-top: 25px;
    margin-right: 25px;
    width: 150px;
    height: 25px;
    text-align: right;
}

.flashMessage {
    margin-left: 50px;
    margin-top: 25px;
    font-size: 15px;
    color: black;
    font-family: "Lucida Console", Courier, monospace;
}

#loginForm {
    height: 190px;
    width: 250px;
}

#registerForm {
    height: 205px;
    width: 250px;
}

#loginForm, #registerForm {
    background-color: #FFFFFF;
    border-radius: 8px;
    /* border: black 1px solid; */
    -webkit-box-shadow: 4px 4px 4px 4px #DEDEDE;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    4px 4px 4px 4px #DEDEDE;  /* Firefox 3.5 - 3.6 */
    box-shadow:         4px 4px 4px 4px #DEDEDE;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    margin-top: 25px;
    padding: 20px;
}

#portal_contents_wrapper {
    height: 105px;
    width: 250px;
    background-color: #FFFFFF;
    border-radius: 8px;
    /* border: black 1px solid; */
    -webkit-box-shadow: 4px 4px 4px 4px #DEDEDE;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    4px 4px 4px 4px #DEDEDE;  /* Firefox 3.5 - 3.6 */
    box-shadow:         4px 4px 4px 4px #DEDEDE;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    margin-top: 25px;
    padding: 20px;
}

#content {
    margin-left: 50px;
}