{% extends "template.html" %}
{% block content %}

<!--    <div id="uploadBoxWrapper">-->
        <div id="uploadBox">

            <form action = "http://localhost:5000/" method = "POST" enctype = "multipart/form-data">
                {{ form.hidden_tag() }}
                <!--                    <legend class=""border-bottom mb4>Example Form</legend>-->

                <div class="form-group">
                    <input type="file" name="file" id="real-file" hidden="hidden" />
                    <button type="button" id="custom-button" style="">UPLOAD</button>
                    <br><span id="custom-text"></span>
                </div>

                <div id="formDetails">
<!--                        {{ form.email.label }}-->
                        {% if form.email.errors %}
                            {% for error in form.email.errors %}
                                {{ error }}
                            {% endfor %}
                        {% else %}
                            {{ form.email(class="inputBox", placeholder="email") }}
                        {% endif %}
                    <br><br>
<!--                        {{ form.message.label }}-->
                        {% if form.message.errors %}
                            {% for error in form.message.errors %}
                                {{ error }}
                            {% endfor %}
                        {% else %}
                            {{ form.message(class="inputBox", placeholder="message") }}
                        {% endif %}
                    <br><br>
                        {{ form.submit(id="submitButton") }}
                </div>
            </form>

        </div>
<!--    </div>-->

<script>
    const realFileBtn = document.getElementById("real-file");
    const customBtn = document.getElementById("custom-button");
    const customTxt = document.getElementById("custom-text");

    customBtn.addEventListener("click", function() {
      realFileBtn.click();
    });

    realFileBtn.addEventListener("change", function() {
      if (realFileBtn.value) {
        customTxt.innerHTML = realFileBtn.value.match(
          /[\/\\]([\w\d\s\.\-\(\)]+)$/
        )[1];
      } else {
        customTxt.innerHTML = "";
      }
    });
</script>
{% endblock content %}