{% extends "template.html" %}
{% block content %}

    <h2>View all users</h2>
    <a href="{{ url_for('admin.admin_portal') }}"><button>back</button></a><br><br>
    Users:<br><br>
        <table>
            <th>ID</th>
            <th>username</th>
            <th>email</th>
            <th>permission level</th>
            {% for item in data %}
            <tr>
                <td><a href="users/{{item[0]}}">{{item[0]}}</a></td>
                <td><a href="users/{{item[0]}}">{{item[1]}}</a></td>
                <td>{{item[2]}}</td>
                <td>{{item[3]}}</td>
            </tr>
            {% endfor %}
        </table>

{% endblock content %}
