{% extends "template.html" %}
{% block content %}

    <h2>User: {{userData[1]}}</h2>
    <a href="{{ url_for('admin.view_users') }}"><button>back</button></a><br><br>

    Account details:
        <table>
            <th>ID</th>
            <th>username</th>
            <th>email</th>
            <th>permission level</th>
            <tr>
                <td>{{userData[0]}}</td>
                <td>{{userData[1]}}</td>
                <td>{{userData[2]}}</td>

                <!-- Form to update permission level of user. Doesn't display button for account currently viewing page -->
                <td>
                    {% if current_user.id != userData[0] %}
                        <form action="">
                            <input type="number" name="permLevel" min="0" max="{{ current_user.permLevel }}" placeholder="{{userData[3]}}">
                            <input type="submit" value="Update">
                        </form>
                    {% else %}
                        {{userData[3]}}
                    {% endif %}
                </td>
            </tr>
        </table>

        <br><br>
        Uploads:<br><br>
        <table>
            <th>ID</th>
            <th>filename</th>
            <th>hashname</th>
            <th>filesize</th>
            <th>date uploaded</th>
            <th>expiry date</th>
            <th>message</th>
            <th>status code</th>
            {% for item in uploads %}
            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
                <td>{{item[2]}}</td>
                <td>{{item[3]}}</td>
                <td>{{item[4]}}</td>
                <td>{{item[5]}}</td>
                <td>{{item[6]}}</td>
                <td>
                    {% if item[7] == 0 %}
                        unavailable:
                        <a href="{{userData[0]}}?status=1&upload_id={{item[0]}}"><button>make available</button></a>
                    {% else %}
                        available:
                        <a href="{{userData[0]}}?status=0&upload_id={{item[0]}}"><button>make unavailable</button></a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>


{% endblock content %}
